main {
    max-width: 80rem;
    margin: 0 auto;
}

main ul {
    display: flex;
}

main section {
    margin-top: 3rem;
}

main section h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

form input, form select {
    margin-bottom: 2rem;
    padding: 1rem;
    outline: none;
}

input[type="submit"]{
    margin-top: 4rem;
    background-color: #fcf02d;
    color: black;
    padding: 1rem;
    font-weight: bolder;
}