header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--secondary-color);
    padding: 1rem;
    box-shadow: 0 .4rem .5rem rgba(0, 0, 0, 0.2);
}

header h1 {
    color: #fff;
    font-size: 5rem;
}

header img {
    height: 10rem;
    margin-right: 2rem;
}
