main {
    max-width: 120rem;
    margin: 4rem auto;
}

main article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #162032;
    border-radius: 1.6rem;
    padding: 2rem;
    box-shadow: 0 0 0.3rem rgba(255, 255, 255, 0.1);
}

main article h2 {
    text-align: center;
}

main article p {
    text-align: center;
    margin: 3rem 0;
    width: 50%;
}

main ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 2rem;
}

main ul li img {
    height: 100%;
    border-radius: 1.6rem;
}

main article a {
    margin-top: 4rem;
    background-color: #fcf02d;
    color: black;
    padding: 1.5rem;
    border-radius: 1.6rem;
    font-weight: bolder;
}